% render "templates/web/layouts/guides.html" do

<div class="alert alert-danger" role="alert">
  <strong>Sorry, Documentation Fail</strong>
</div>

Unfortunately this guide has not been written yet, the SMT8 library is still in initial development.

% end
