% render "layouts/basic.html" do

%# HTML tags can be embedded in mark down files if you want to do specific custom
%# formatting like this, but in most cases that is not required.
<h1><%= Origen.app.namespace %> <span style="font-size: 14px">(<%= Origen.app.version %>)</span></h1>

### Purpose

This project provides a modern, standard test method library for the
Advantest V93000 tester that is freely available for anyone to use.

[See the FAQ](<%= path "faq" %>) for more background.

### How To Install


### How To Use



% end
